services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: your_password
      POSTGRES_DB: pfe_db
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    volumes:
      - ./backend:/app  
    ports:
      - "8000:8000"
    depends_on:
      - db
    env_file:
      - ./backend/.env.docker

  frontend:
    build: ./frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules 
    ports:
      - "5173:5173"